[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",25552} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          % catch all, all events are sent to this one unless it's empty
          { "*",                   [ ] },
          { "MonDemand::AnnotationMsg", [ mondemand_backend_annotations_elasticsearch ] }
        ]
      },
      { mondemand_backend_annotations_elasticsearch,
        [
          {annotation_labels, [{timestamp, "when_it_happened"},
                               {description, "description"},
                               {title, "title"},
                               {tags, "tags"},
                               {id, "id"}
                              ]},
          {number, 10},
          {create_url, "http://127.0.0.1:9200/events/prod/"}, %elasticsearch create
          {update_url, "http://127.0.0.1:9200/events/prod/~s/_update"}, %elasticsearch update
          {timeout, 5000},
          {worker_mod, mondemand_backend_annotations_elasticsearch}
        ]
      }
    ]
  },
  { mondemand, [ { lwes_channel, { "127.0.0.1", 25552 } } ] }
].
